.App {
  text-align: center;
}
.hero{
  display: flex;
  margin-top: 50px;
}
.heroNickName{
  height: 100px;
  width: 200px;
}
.heroImageWrapper{
  height: 100px;
  width: 200px;
}
.heroImage{
  width: 70px;
  height:70px
}
.heroTableField{
  width: 250px;
  height: 200px;
  text-align: center;
}
button a{
  text-decoration: none;
  color: black;
}
