.paginator{
    margin: 10px;
    width: 200px;
}
.pageNumber{
    padding: 2px;
    border: 1px solid grey;
    cursor: pointer;
    width: 10px;
}
.pageNumber.selectedPage{
    font-weight: bold;
    border-color: black;
}